.banner {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__img {
    width: 50%;
    overflow: hidden;
}

.banner__img img {
    width: 100%;
}

.banner__img:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease-in;
}

