.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 25px;
    overflow: hidden;

}

.header {
    position: absolute;
    top:50px;
    width: 100%;
    z-index: 1;
}

.header.fixed {
    position: fixed;
    top: 0;
    width: inherit;
    background-color: var(--white-color);
}

.header__logo-img {
    width: 100px;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

.navbar__item {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

.navbar__item-link {
    color: var(--text-color);
    
}

.navbar__item:hover .navbar__item-link {
    color: var(--primary-color);
    text-decoration: none;
}

.slide {
    background-image: url(../../img/peace.gif);
    padding-top: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: 50% 50%;
}


/* Category */

.category {
    display: block;
    align-items: center;
}

.category__title {
    text-align: center;
    color: var(--hover-color);
    margin: 32px 0;
}

.category__title::after {
    content: "";
    display: table;
    clear: both;
    background-image: url(./../../assets/img/divide.png);
    width: 100%;
    height: 28px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 0;
}

.product:hover .group__icon , .product:hover .add-cart-btn{
    display: block;
}

.product__img {
    position: relative;
}

.group__icon {
    position: absolute;
    top: 8px;
    right: 24px;
    display: none;
}

.icon__btn {
    display: block;
    padding: 6px;
    color: silver;
    background-color: var(--white-color);
    border-radius: 50%;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.icon--heart:hover {
    color: var(--white-color);
    background-color: #cf2e2e;
}

.group__icon .icon--heart:hover .add-cart-btn {
    display: block;
}

.icon--search:hover {
    color: var(--white-color);
    background-color: var(--hover-color);
}

.add-cart-btn {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    font-size: 12px;
    color: var(--white-color);
    background-color: rgba(219, 167, 44, 0.85);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;

}

.add-cart-btn:hover {
    background-color: var(--hover-color);
}

.product--favorite {
    position: absolute;
    top: 0px;
    left: 56%;
    font-size: 10px;
    padding: 4px 10px;
    color: var(--white-color);
    background-color: silver;
    transform: translateX(-50%) translateY(50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}

.icon__btn--favorite {
    color: var(--hover-color);
    padding-right: 6px;
}   

.product__img {
    padding-top: 100%;
    height: 0;
    background-image: url(../../../assets/img/night.gif);
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;
}

.product__description {
    width: 100%;
    padding: 8px 8px 32px 8px;
    text-align: center;
}

.product__id {
    font-size: 12px;
    color: #767676;
}

.product__name {
    margin-top: 8px;
    margin-bottom: 16px;
}

.product__name a{
    text-decoration: none;
    color: var(--black-color);
}

.product__name a:hover {
    color: var(--hover-color);
}

.product__price--vnd {
    color: var(--hover-color);
}


@media(max-width:991px) {
    .header__logo {
        display: none;
    }
}